:root{
    --color-primario: #f5f5f5;
    --color-secundario: #333;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;                                                
    font-size: 12px;
}
body{
    flex-direction: column;
    background: var(--color-primario);
    gap: 30px;
    padding-top: 30px;
}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{
    display: grid;    
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    gap: 10px;  
    padding-bottom: 40px;  
}
.carta{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    height: 200px;   
    padding: 5px 10px; 
    background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}
.carta:hover{
    transform: translateY(-5px);

}
.carta img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 0.8rem;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,1.5));
}

.informacion p{
    font-size: 18px;
    font-weight: 500;
    color:#333;
}
.informacion h2{
    font-size: 25px;
}

#busqueda, #orden{
    outline: none;
    border: none;
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0,0,0, 0.1);
}

.filtros{
    gap:10px;
}
@media(min-width:768px){
    html{
        font-size: 13px;
    }
    .contenedor{
        grid-template-columns: repeat(3,1fr);
    }
}
@media(min-width:992px){
   .contenedor{
        grid-template-columns: repeat(3,1fr);
    }
    html{
        font-size: 14px;
    }
    .carta{
        height: 350px;
    }
    .carta img{
        width: 200px;
        height: 200px;        
    }
    #busqueda, #orden{
        font-size: 18px;
    }
}
@media(min-width:1200px){
    .contenedor{
        grid-template-columns: repeat(4,1fr);
    }
    html{
        font-size: 16px;
    }
    
}